<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Admin</title>
	<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
</head>
<body>
	<main>

	</main>
	<form id="addcategory" method="post" action="https://sheltered-savannah-33614.herokuapp.com/add_category">
		Name: <input type="text" name="name" required="">
		<input type="submit">
	</form>	
<script>
	$.ajax("https://sheltered-savannah-33614.herokuapp.com/categories")
	.done(function(result){
		result.forEach(function (item,i) {
			var catblock = '<div class="catblock">'+
			'<h3>'+item.name+'</h3>'+
			'<a href="https://sheltered-savannah-33614.herokuapp.com/adminskills/'+item.id+'">View</a>'+
			'<button class="delskill" data-link="https://sheltered-savannah-33614.herokuapp.com/del_category" data-id="'+item.id+'">Delete</button>'+
			'</div>';
			$("main").append(catblock);
		});
	});
	$("#addcategory").submit(function(e){
		e.preventDefault();
		var formData={};
		$(this).find("input[name]").each(function(index,node){
			formData[node.name] = node.value;
		});
		$.post($(this).attr("action"), formData).done(function () {
        	
   		});
   		location.reload();
	});
</script>
</body>
</html>