<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Admin</title>
	<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<!-- <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<style>
	.catblock{
		text-align: center;
	}
	h3{
		text-align: center;
	}
	img{
		width: 50%;
		margin: 1rem auto;
	}
	#addcategory{
		width:50%;
		margin:2rem auto;
	}
	input[type="file"]{
		max-width: 50%;
		margin:1rem auto;
	}
	button, a{
		display: block;
		margin: 1rem;
	}
</style>
</head>
<body>
	<div class="container">
	<main>

	</main>
	<form id="addcategory" method="post" action="https://sheltered-savannah-33614.herokuapp.com/add_category">
		<div class="form-group">
		<label>Name: <input type="text" name="name" required="" class="form-control"></label>
		<input type="submit" class="btn btn-primary">
	</form>
	</div>
<script>
	$.ajax("https://sheltered-savannah-33614.herokuapp.com/categories")
	.done(function(result){
		result.forEach(function (item,i) {
			var catblock = '<div class="catblock">'+
			'<h3>'+item.name+'</h3>'+
					'<img class="img-fluid" src='+item.image_url+'>'+
					'<form class="updphotoform" method="POST" action="https://sheltered-savannah-33614.herokuapp.com/upload_category" enctype="multipart/form-data"><div class="form-group"><input type="file" name="image" class="form-control"><input type="hidden" name="id" value="'+item.id+'"><input type="hidden" name="catid" value="'+item.id+'">'+
					'<button type="submit" class="updphoto btn btn-primary">Update photo</button></div></form>'+
			'<a class="btn btn-primary" href="https://sheltered-savannah-33614.herokuapp.com/adminskills/'+item.id+'">View</a>'+
			'<button class="delcategory btn btn-danger" data-link="https://sheltered-savannah-33614.herokuapp.com/del_category" data-id="'+item.id+'">Delete</button>'+
			'</div>';
			$("main").append(catblock);
			$(".delcategory").click(function(){
				$.post($(this).attr("data-link"), {id: $(this).attr("data-id")});
				location.reload();
			});				
		});
	});
	$("#addcategory").submit(function(e){
		e.preventDefault();
		var formData={};
		$(this).find("input[name]").each(function(index,node){
			formData[node.name] = node.value;
		});
		$.post($(this).attr("action"), formData).done(function () {
        	
   		});
   		location.reload();
	});
</script>
</body>
</html>