<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Skills</title>
	<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
</head>
<body>
	<main>

	</main>
<script>
	$.ajax("https://sheltered-savannah-33614.herokuapp.com/skills/"+<%= cat_id %>)
	.done(function(result){
		result.forEach(function (item,i) {
			var skillblock = '<div class="skillblock">'+
			'<h3>'+item.name+'</h3>'+
			'<img src='+item.image_url+'>'+
			'<h4>'+item.xp+'</h4>'+
			'<button class="delskill" data-link="https://sheltered-savannah-33614.herokuapp.com/del_skill" data-id="'+item.id+'">Delete</button>'+
			'</div>';
			$("main").append(skillblock);
			$(".delskill").click(function(){
				$.post($(this).attr("data-link"), {id: $(this).attr("data-id")});
				location.reload();
			});
			'<a href="https://sheltered-savannah-33614.herokuapp.com/adminskill/'+item.id+'">View</a>'+
			'</div>';
			$("main").append(skillblock);
		});
	});
</script>
</body>
</html>