<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
</head>
<body>
	<main>

	</main>
<script>
	$.ajax("https://sheltered-savannah-33614.herokuapp.com/skill/"+<%= id %>)
	.done(function(result){
		result.forEach(function (item,i) {
			var skillblock = '<div class="skillblock">'+
			'<h3>'+item.name+'</h3>'+
			'<h4>'+item.xp+'</h4>'+
			'</div>';
			$("main").append(skillblock);
			$.ajax("https://sheltered-savannah-33614.herokuapp.com/skill_steps/"+<%= id %>)
			.done(function(res){
				res.forEach(function(item,i){
					var skillblock = '<div class="skillblock">'+
					'<h4>'+item.description+'</h4>'+
					'<input type="text" data-link="https://sheltered-savannah-33614.herokuapp.com/move_step" data-id="'+item.id+'" class="step" value="'+item.step+'">'+
					'<button class="deldesc" data-link="https://sheltered-savannah-33614.herokuapp.com/del_step" data-id="'+item.id+'">Delete</button>'+
					'</div>';
					$("main").append(skillblock);
					$(".deldesc").click(function(){
						$.post($(this).attr("data-link"), {id: $(this).attr("data-id")});
						location.reload();
					});
					$(".step").change(function(){
						$.post($(this).attr("data-link"), {id: $(this).attr("data-id"), step: $(this).val()});
						location.reload();
					})
				});
			});								
		});
	});
</script>
</body>
</html>