<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Skills</title>
	<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<!-- <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</head>
<body>
	<a href="https://sheltered-savannah-33614.herokuapp.com/admin">Back</a>
	<a href="https://sheltered-savannah-33614.herokuapp.com/admin">Home</a>
	<div class="container">
	<main>

	</main>
	<form id="addskill" method="post" action="https://sheltered-savannah-33614.herokuapp.com/add_skill">
		<div class="form-group">
		<label>Name: <input type="text" name="name" required="" class="form-control"></label>
		<label>XP: <input type="text" name="xp" required="" class="form-control"></label>
		<input type="submit">
		</div>
	</form>
	</div>
<script>
	var cat_id = <%= cat_id %>;
	$.ajax("https://sheltered-savannah-33614.herokuapp.com/skills/"+<%= cat_id %>)
	.done(function(result){
		result.forEach(function (item,i) {
			var skillblock = '<div class="skillblock">'+
			'<h3>'+item.name+'</h3>'+
			'<img class="img-fluid" src='+item.image_url+'>'+
					'<form class="updphotoform" method="POST" action="https://sheltered-savannah-33614.herokuapp.com/upload_skill" enctype="multipart/form-data"><div class="form-group"><input type="file" name="image" class="form-control"><input type="hidden" name="id" value="'+item.id+'"><input type="hidden" name="catid" value="'+cat_id+'">'+
					'<button type="submit" class="updphoto">Update photo</button></div></form>'+			
			'<h4>'+item.xp+'</h4>'+
			'<a href="https://sheltered-savannah-33614.herokuapp.com/adminskill/'+item.id+'">View</a>'+
			'<button class="delskill btn btn-danger" data-link="https://sheltered-savannah-33614.herokuapp.com/del_skill" data-id="'+item.id+'">Delete</button>'+
			'</div>';
			$("main").append(skillblock);
				$(".delskill").click(function(){
				$.post($(this).attr("data-link"), {id: $(this).attr("data-id")});
				location.reload();
			});
			$(".deldskill").click(function(){
				$.post($(this).attr("data-link"), {id: $(this).attr("data-id")});
				location.reload();
			});			
		});
	});
		$("#addskill").submit(function(e){
		e.preventDefault();
		var formData={};
		$(this).find("input[name]").each(function(index,node){
			formData[node.name] = node.value;
		});
		formData["cat"] = cat_id;
		$.post($(this).attr("action"), formData).done(function () {
        	
   		});
   		location.reload();
	});
</script>
</body>
</html>