<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
</head>
<body>
	<main>

	</main>
	<form id="addstep" method="post" action="https://sheltered-savannah-33614.herokuapp.com/add_step">
		Heading: <input type="text" name="heading" required="">
		Description: <input type="text" name="description" required="">
		Step: <input type="number" name="step" required="">
		<input type="submit">
	</form>
<script>
	var id = <%= id %>;
	$.ajax("https://sheltered-savannah-33614.herokuapp.com/skill/"+id)
	.done(function(result){
		result.forEach(function (item,i) {
			var skillblock = '<div class="skillblock">'+
			'<h3>'+item.name+'</h3>'+
			'<h4>'+item.xp+'</h4>'+
			'</div>';
			$("main").append(skillblock);
			$.ajax("https://sheltered-savannah-33614.herokuapp.com/skill_steps/"+id)
			.done(function(res){
				res.forEach(function(item,i){
					var skillblock = '<div class="skillblock">'+
					'<h4>'+item.heading+'</h4>'+
					'<img src='+item.photo_url+'>'+
					'<form class="updphotoform" method="POST" action="https://sheltered-savannah-33614.herokuapp.com/upload" enctype="multipart/form-data"><input type="file" name="image"><input type="hidden" name="id" value="'+item.id+'">'+
					'<button type="submit" class="updphoto">Update photo</button></form>'+
					'<input type="text" data-link="https://sheltered-savannah-33614.herokuapp.com/move_step" data-id="'+item.id+'" class="step" value="'+item.step+'">'+
					'<button class="deldesc" data-link="https://sheltered-savannah-33614.herokuapp.com/del_step" data-id="'+item.id+'">Delete</button>'+
					'</div>';
					$("main").append(skillblock);
					$(".deldesc").click(function(){
						$.post($(this).attr("data-link"), {id: $(this).attr("data-id")});
						location.reload();
					});
					$(".updphotoform").submit(function(e){
						e.preventDefault();
						var url=$(this).attr("action");
						var form = new FormData($(".updphotoform")[0]);
						$.ajax({
						        url: url,
						        method: "POST",
						        dataType: 'json',
						        data: form,
						        processData: false,
						        contentType: false,
						        success: function(res){
						        	$.post("https://sheltered-savannah-33614.herokuapp.com/add_step_image", {id: $("updphotoform input[name='id']").val(), image: res.url});
						        },
						        error: function(er){}
						});
					})
					$(".step").change(function(){
						$.post($(this).attr("data-link"), {id: $(this).attr("data-id"), step: $(this).val()});
						location.reload();
					})
				});
			});								
		});
	});
	$("#addstep").submit(function(e){
		e.preventDefault();
		var formData={};
		$(this).find("input[name]").each(function(index,node){
			formData[node.name] = node.value;
		});
		formData["id"] = id;
		$.post($(this).attr("action"), formData).done(function () {
        	
   		});
   		location.reload();
	});
</script>
</body>
</html>