<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
</head>
<body>
	<main>

	</main>
<script>
	$.ajax("https://sheltered-savannah-33614.herokuapp.com/skill/"+<%= id %>)
	.done(function(result){
		result.forEach(function (item,i) {
			if (i==0){
				var skillblock = '<div class="skillblock">'+
				'<h3>'+item.name+'</h3>'+
				'<h4>'+item.xp+'</h4>'+
				'<h4>'+item.description+'</h4>'+
				'</div>';
				$("main").append(skillblock);
			}
			else{
				var skillblock = '<div class="skillblock">'+
				'<h4>'+item.description+'</h4>'+
				'</div>';
				$("main").append(skillblock);				
			}
		});
	});
</script>
</body>
</html>