<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Skills</title>
	<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
</head>
<body>
	<main>

	</main>
	<form id="addskill" method="post" action="https://sheltered-savannah-33614.herokuapp.com/add_skill">
		Name: <input type="text" name="name" required="">
		XP: <input type="text" name="xp" required="">
		<input type="submit">
	</form>
<script>
	$.ajax("https://sheltered-savannah-33614.herokuapp.com/skills/"+<%= cat_id %>)
	.done(function(result){
		result.forEach(function (item,i) {
			var skillblock = '<div class="skillblock">'+
			'<h3>'+item.name+'</h3>'+
			'<img src='+item.image_url+'>'+
			'<h4>'+item.xp+'</h4>'+
			'<a href="https://sheltered-savannah-33614.herokuapp.com/adminskill/'+item.id+'">View</a>'+
			'<button class="delskill" data-link="https://sheltered-savannah-33614.herokuapp.com/del_skill" data-id="'+item.id+'">Delete</button>'+
			'</div>';
			$("main").append(skillblock);
				$(".delskill").click(function(){
				$.post($(this).attr("data-link"), {id: $(this).attr("data-id")});
				location.reload();
			});
			$(".deldskill").click(function(){
				$.post($(this).attr("data-link"), {id: $(this).attr("data-id")});
				location.reload();
			});			
		});
	});
		$("#addskill").submit(function(e){
		e.preventDefault();
		var formData={};
		$(this).find("input[name]").each(function(index,node){
			formData[node.name] = node.value;
		});
		formData["cat_id"] = <%= cat_id %>;
		$.post($(this).attr("action"), formData).done(function () {
        	
   		});
   		location.reload();
	});
</script>
</body>
</html>